package convert

import (
	"solarland/backendv2/cluster/{{ .ServerName | LowerFirstChar }}/internal/domain/entity"
	"solarland/backendv2/proto/gen/go/avatar/{{ .ServerName | LowerFirstChar }}"
)

//{{ .ModelName }}2Pb {{ .ModelName }}2Pb
func {{ .ModelName }}2Pb(res *entity.Display{{ .ModelName }}) *{{ .ServerName | LowerFirstChar }}.{{ .ModelName }} {
	if res == nil {
		return &{{ .ServerName | LowerFirstChar }}.{{ .ModelName }}{}
	}
	return &{{ .ServerName | LowerFirstChar }}.{{ .ModelName }}{
  // TODO 填充自己的结构
  {{ if .ShowExample}}
		//Id:            res.ID,
		//Priority:      res.Priority,
		//Content:       res.Content,
		//SendTime:      res.SendTime.Unix(),
		//ValidTime:     res.ValidTime.Unix(),
		//ReceiveIdList: res.ReceiverList,
		//IsReaded:      res.IsReaded,
		//IsOperate:     res.IsOperate,
  {{- end }}
	}
}

//{{ .ModelName }}s2Pb {{ .ModelName }}s2Pb
func {{ .ModelName }}s2Pb(res []*entity.Display{{ .ModelName }}) []*{{ .ServerName | LowerFirstChar }}.{{ .ModelName }} {
	ret := make([]*{{ .ServerName | LowerFirstChar }}.{{ .ModelName }}, len(res))
	for i, v := range res {
		ret[i] = {{ .ModelName }}2Pb(v)
	}
	return ret
}