syntax = "proto3";

package {{ .ServerName | LowerFirstChar }};

option go_package = "solarland/backendv2/proto/gen/go/avatar/{{ .ServerName | LowerFirstChar }}";

import "proto/nevent.proto";

message Create{{ .ModelName }}Event {
  // TODO 填充自己的结构
  {{ if .ShowExample}}
  // string sender_id = 1;
  // repeated string receiver_id_list = 2;
  // string content = 3;
  // bool is_priority = 4;
  // int64 send_time = 5;
  // string game_id = 6;
  // int64 valid_time = 7;
  {{- end }}
}

service {{ .ServerName }}Event {
  rpc Create{{ .ModelName }}(Create{{ .ModelName }}Event) returns (nevent.Void);
}
