syntax = "proto3";

package {{ .ServerName | LowerFirstChar }};

import "google/protobuf/descriptor.proto";
import "google/protobuf/wrappers.proto";

option go_package = "solarland/backendv2/proto/gen/go/avatar/{{ .ServerName | LowerFirstChar }}";

message {{ .ModelName }} {
  // TODO 填充自己的结构
  {{ if .ShowExample}}
  // string id = 2;
  // bool priority = 3;
  // string content = 4;
  // int64 send_time = 5;
  // int64 valid_time = 6;
  // repeated string receive_id_list = 7;
  // bool is_readed = 8;
  // bool is_operate = 9;
  {{- end }}
}